__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.venv/
env/

# Данные и веса не версионируем
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.pt
*.pth
*.onnx

# Результаты экспериментов
results/logs/*
results/plots/*
!results/logs/.gitkeep
!results/plots/.gitkeep
runs/
